/* Checkbox */

:root {
    --checkbox-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18%203C19.6569%203%2021%204.34315%2021%206V18C21%2019.6569%2019.6569%2021%2018%2021H6C4.34315%2021%203%2019.6569%203%2018V6C3%204.34315%204.34315%203%206%203H18ZM16.4697%207.96967L10%2014.4393L7.53033%2011.9697C7.23744%2011.6768%206.76256%2011.6768%206.46967%2011.9697C6.17678%2012.2626%206.17678%2012.7374%206.46967%2013.0303L9.46967%2016.0303C9.76256%2016.3232%2010.2374%2016.3232%2010.5303%2016.0303L17.5303%209.03033C17.8232%208.73744%2017.8232%208.26256%2017.5303%207.96967C17.2374%207.67678%2016.7626%207.67678%2016.4697%207.96967Z%22%20fill%3D%22%23d0d3d4%22/%3E%0A%3C/svg%3E%0A");
    --checkbox-checked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18.25%203C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203H18.25ZM18.25%204.5H5.75C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5ZM10%2014.4393L16.4697%207.96967C16.7626%207.67678%2017.2374%207.67678%2017.5303%207.96967C17.7966%208.23594%2017.8208%208.6526%2017.6029%208.94621L17.5303%209.03033L10.5303%2016.0303C10.2641%2016.2966%209.8474%2016.3208%209.55379%2016.1029L9.46967%2016.0303L6.46967%2013.0303C6.17678%2012.7374%206.17678%2012.2626%206.46967%2011.9697C6.73594%2011.7034%207.1526%2011.6792%207.44621%2011.8971L7.53033%2011.9697L10%2014.4393L16.4697%207.96967L10%2014.4393Z%22%20fill%3D%22%23f0f0f0%22/%3E%0A%3C/svg%3E%0A");
    --checkbox-unchecked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M5.75%203H18.25C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203ZM5.75%204.5C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5H5.75Z%22%20fill%3D%22%23f0f0f0%22/%3E%0A%3C/svg%3E%0A");
     
}
@media print {
    input[type=checkbox] {
        margin-top: -1px !important;
    }
}
/* FIX LATER (AKA never) */
/* 
.md-task-list-item > input::before {
content: "";
position: absolute;
top: -5px;
left: -4px;
border-radius: 50%;
width: 20px;
height: 20px;
border: 1px solid #abc0d0;
background: #222526;
-webkit-transition: background-color 200ms ease-in-out;
transition: background-color 200ms ease-in-out;
}

.md-task-list-item > input::after {
content: "";
position: absolute;
top: 2px;
left: 1px;
width: 0.6rem;
height: 0.3rem;
border: 2px solid #fff;
border-top: 0;
border-right: 0;
-webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
opacity: 0;
-webkit-transition: opacity 200ms ease-in-out;
transition: opacity 200ms ease-in-out;
}

.md-task-list-item > input:checked::before {
background-color: var(--color-darker-cyan);
border: none;
}

.md-task-list-item > input:checked::after {
opacity: 1;
}

.md-task-list-item.task-list-done {
text-decoration: line-through;
color: var(--color-dark-white);
} */

/* dyzj */
/* 
.md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: 0.4rem;
    -webkit-appearance: none;
}
.md-task-list-item>input:before {
    content: '';
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    vertical-align: middle;
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);
    border-radius: 2px; */
    /*background-color: white;*/
    /* border: 1px solid var(--color-red);
    margin-top: -0.4rem;
    transition: all 0.2s linear;
}
.md-task-list-item>input:checked:before,
.md-task-list-item>input[checked]:before {
    content: '\2714';
    font-size: 0.625rem;
    color: white;
    border: 1px solid var(--color-darker-cyan);
    background-color: var(--color-darker-cyan);
    line-height: .8rem;
}
.md-task-list-item:before{
    content: none !important;
}

#write input[type=checkbox] {
    position: absolute;
    top: 6px;
    left: -6px;
    background-color: inherit;
}*/

.md-task-list-item.task-list-done {
    text-decoration: line-through;
    color: var(--color-cyan);
    transition: 0.5s;
}
.md-task-list-item.task-list-done span {
    color: var(--color-dark-white);
    transition: 0.5s;
} 

li.task-list-item {
    list-style-type: none
}

li.task-list-item>input[type=checkbox], #write input[type=checkbox] {
    list-style: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: var(--checkbox-unchecked);
    padding: 0;
    margin-top: 1px;
    margin-left: -32px;
    transition: 0.5s;
}

li.task-list-item>input[type=checkbox][checked=checked], li.task-list-item>input[type=checkbox][checked], #write input[type=checkbox][checked=checked], #write input[type=checkbox][checked] {
    background-image: var(--checkbox-filled);
}


/* Radio */

input[type="radio"]:before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    text-align: center;
    border: 1px;
    border-radius: 0.55rem;
    background-color: var(--color-darker-gray);
    margin-top: -0.4rem;
    margin-left: -0.1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Radio Hover */

input[type="radio"]:not([disabled]):not(:checked):hover:before {
    content: "\25CF";
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-dark-pink);
}

/* Radio Checked */

input[type="radio"]:checked:before {
    content: "\25CF";
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-dark-cyan);
}

/* Radio Checked Hover*/

input[type="radio"]:checked:before {
    content: "\25CF";
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-dark-pink);
}

.md-task-list-item>input {
    background: #333333;
    margin-left: -1.3em;
}

.md-task-list-item {
    list-style-type: none !important;
}